# Data Science Tools and Ecosystem

# Introduction
In this notebook, Data Science and Ecosystem are summarized

**Objective:**
- Data Science languages
- Data science libraries
- Arithmetic expressions

# Data science languages
Some of the popular languages that Data Scientists use are:
    
1. Python 
2. R
3. SQL 
4. Scala
5. Julia

# Data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit Learn
5. Tensorflow
6. SciPy
7. Seaborn
8. Keras
9. Apache Spark

|Data Science Tools|
|------------------|
|Apache Airflow|
|Apache Atlas|
|Apache Kafka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

x = 200 
y = 60

print(float(200/60))

3.3333333333333335

### Author
Enrico Ras